<div class="container">
  <!-- Content here -->
  <div class="row">
    <div  class="card-group">
      <div class="card text-center" *ngFor="let bike of bikes">
        <a [routerLink]="['/bike', bike.bikeId]"><img src="{{bike.thumbBase64}}" class="card-img-top" alt="{{bike.model}}"></a>
        <div class="card-body">
          <h5 class="card-title">{{bike.brand}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{bike.model}}</h6>
          <p class="card-text">{{bike.price}}</p>
          <a href="#" class="btn btn-primary">Add to chart</a>
        </div>
      </div>
    </div>
  </div>
</div>
