.mat-form-field {
  display: contents; 
  position: relative;
  text-align: left;
}

.uploadfilecontainer {
  /*background-image: url("../../assets/cloud-2044823_960_720.png");*/
  background-image: url('~/content/images/cloud_upload_black_48dp.png');
  background-repeat: no-repeat;
  background-size: 80px;
  opacity: 0.5;
  background-position: center;
  height: 110px;
  width: 98%;
  margin: 20px auto;
  border: 1.5px dashed #757b80;
  border-radius: 10px;
}

  .uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #e6f1fa !important;
    opacity: 0.8;
  }

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

  .files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
  }

    .files-list .delete-file img {
      width: 30px;
    }
