<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-11">
          <h5 class="modal-title">Bikes list</h5>
        </div>
        <div class="col-md-1 float-right">
          <button type="button" (click)="openAddDialog()" class="btn btn-outline-primary mr-auto"><mat-icon aria-hidden="false">add</mat-icon></button>
        </div>
      </div>
      
     
    </div>
    <div class="card-body">
      <ag-grid-angular #agGrid
                       id="myGrid"
                       class="ag-theme-balham"
                       [modules]="modules"
                       [columnDefs]="columnDefs"
                       [defaultColDef]="defaultColDef"
                       [rowData]="rowData"
                       [enableRangeSelection]="true"
                       [domLayout]="domLayout"
                       [animateRows]="true"
                       [rowHeight]="rowHeight"
                       (gridReady)="onGridReady($event)">

      </ag-grid-angular>
    </div>
  </div>
</div>

  
